{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Pupil Login</title>
        <style>
            body{
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                color: rgb(67, 31, 31);
            }
            .div{
                border: 2px solid rgb(205, 201, 201);
                border-radius: 15px;
                box-shadow: 2px 2px 2px 2px rgb(225, 222, 222);
                padding: 10px;
            }
            button{
                
                background-color: rgb(0, 0, 108);
                color: rgb(255, 255, 255);
                font-variant: small-caps;
                border-radius: 4px;
                
               
                
            }
            input, select{
                border-radius: 4px;
                box-shadow: 3px 3px rgb(216, 216, 216);
            }
        </style>
        
        <script>
           document.addEventListener('DOMContentLoaded', function(){

               // Do some client side validations such as ensuring both passwords match
               //as well as ensuring their length is at least 4 characters long
               
               document.querySelector('button').onclick = function(){
                   password1 = document.querySelector('#password1').value
                   password2 = document.querySelector('#password2').value
                   
                   // Dont allow submisson if password1 and 2 are different or if length is less than 5
                   
                   if(password1 != password2){
                       alert('Passwords must match to be submitted')
                       return false
                   }
                   else if(password1.length < 5){
                       alert('Password must be longer than 4 characters')
                       return false
                   }
                   
                   
                   else{
                       return true
                   }
               }
           })
        </script>
         <link rel='stylesheet' href='{% static "school/navfile.css" %}'>
         <script src='{% static "school/navfile.js" %}'></script>

    </head>
    
    <body>

        <!--Navigation tool-->
        <nav>
            <div class="logo">
                <!--Name of school-->
                <h4>Runo Dayspring School</h4>
            </div>
            <ul class='nav-links'>
                <li><a href='{% url "aboutus" %}'>About Us</a></li>
                <li><a href='{% url "admission" %}'>Admission</a></li>
                <li><a href='{% url "pupil" %}'>Pupils</a></li>
                <li><a href='{% url "teacher" %}'>Teachers</a></li>
                
            </ul>
            <div class='burger'>
                <div class='line1'></div>
                <div class='line2'></div>
                <div class='line3'></div>
            </div>
        </nav>
        <!--End of Navigation tool-->

        <div class='div'>
            {% if msg %}
            <div>
                <p><strong>{{ msg }}</strong></p>
            </div>
            {% endif %}
            <br>
        <div class='div'>
            <p style='text-align: center;'><strong>Instructions for password reset has been sent to you. Please fill in with the details</strong> 
            <form action='{% url "resetpassword" %}' method='POST'>
                {% csrf_token %}
                <p><strong>Pupil_id*: </strong> <input name='student_id'></p>
                <br>
                <p><strong>access_key*:</strong> <input name='access_key'></p><br>
                
                <p><strong>New Password*:</strong> <input name='password1' id='password1'></p><br>
                <p><strong>Retype Password*:</strong> <input name='password2' id='password2'></p><br>
                
                
                
                <p style='text-align: center;'><button>Reset Password</button></p>
            </form>
        </div>
        </div>

        <br>

    <footer>
        <img class='footimg' src='{{ logo.logo.url }}'>
            <div id='footer1'>
                <h1>
                    {% if footerDetail %}
                        {{ footerDetail.school_name }}
                    {% else %}
                        School Name
                    {% endif %}
                </h1>
                <h2>
                    {% if footerDetail %}
                        {{ footerDetail.school_motto }}
                    {% else %}
                        School Address
                    {% endif %}
                </h2>
                <br>

                <h3>
                    {% if footerDetail %}
                        {{ footerDetail.school_address }}
                    {% else %}
                        School Motto
                    {% endif %}
                </h3>
                <br>
                <h3>
                    {% if contactFooter %}
                        {{ contactFooter.school_phone }}
                    {% else %}
                        School phone
                    {% endif %}
                </h3>
                <h3>
                    {% if contactFooter %}
                        <a href='mailto:{{ contactFooter.school_mail }}'>{{ contactFooter.school_mail }}</a>
                    {% else %}
                        School mail
                    {% endif %}

                </h3>

                <br>
            
            </div>
            <div id='footer2'>
                <h1>About<hr></h1>
                <p>
                    {% if aboutFooter %}
                        {{ aboutFooter.school_about | linebreaks }}
                    {% else %}
                        School phone
                    {% endif %}
                </p>
            </div>
    </footer>
    </body>
</html>