<!DOCTYPE html>
<html>
    <head>
        <title>Welcome Page</title>
        <style>
             hr{
                border: 5px solid yellow;
                background-color: yellow;
            }
           
           hr.newline{
            border: 5px solid red;
            background-color: red;
           }
           #div{
                border: 2px solid rgb(210, 204, 204);
                border-radius: 10px;
                padding: 10px;
                margin: auto;
                width: 95%;
            }
            button{
                background-color: rgb(5, 5, 114);
                color: rgb(222, 222, 240);
                padding: 3px;
                border-radius: 3px;
            }
            
        </style>
    </head>

    <body>

        {% load static %}
        <link rel='stylesheet' href='{% static "school/navfile.css" %}'>
        <script src='{% static "school/navfile.js" %}'></script>
        
        <!--Navigation tool-->
        <nav>
            <div class="logo">
                <!--Name of school-->
                <h4>Runo Dayspring School</h4>
            </div>
            <ul class='nav-links'>
                <li><a href='{% url "index" %}'>Go to home page</a></li>
                <li><a href='{% url "adminindex" %}'>Edit Home Page</a></li>
                <li><a href='{% url "adminaboutus" %}'>Edit About Us</a></li>
                <li><a href='{% url "adminadmission" %}'>Edit Admission</a></li>
                <li><a href='{% url "adminleadership" %}'>Edit Extracurricular</a></li>
                <li><a href='{% url "adminwelcome" %}'>Edit Academics</a></li>
                
                <li><a href='{% url "footerUpdate" %}'>Update footer</a></li>
                <li><a href='{% url "principalRemark" %}'>Remark for Each class</a></li>
                <li><a href='{% url "regpupil" %}'>Register new Pupil</a></li>
                <li><a href='{% url "teacherprofile" %}'>Update Class Details</a></li>
                <li><a href='{% url "pupildetails" %}'>Get pupil Details</a></li>
                <li><a href='{% url "editStudentProfile" %}'>Edit Student Details</a></li>


                
            </ul>
            <div class='burger'>
                <div class='line1'></div>
                <div class='line2'></div>
                <div class='line3'></div>
            </div>
        </nav>
        <!--End of Navigation tool-->
        <br>

        <h2 style='text-align: center;'> This page controls the images and texts on the extracurricular page
            Note, the images here were chosen from the index page. If you want to modify , please visit index page
        </h2>
        <br>
        <div id='div'>
            <h3 style='text-align: center;'>This form controls the text of
            the first section of the extracurricular page. The image here should be modified from the admin index page</h3>
        <form method='post' action='{% url "adminleadership" %}'>
            {% csrf_token %}
            {{ form1.as_p }}
            <button>Submit</button>
        </form>
    </div>
        <hr>
        <h3>Preview the header and body of the first section of extracurricular page image is from admin index</h3>
        <hr>
        {% if pos %}
            <img src='{{ pos.img1L.welcLeader.url }}' alt='Welcome'>
            <h2>{{ pos.writeHead1 }}</h2>
            <div>
                {{ pos.write1 | linebreaks }}
            </div>
        {% endif %}
        <hr>
        <hr class='newline'>



            <div id='div'>
                <h3 style='text-align: center;'>
                    This form controls the text of
                    the second section of the extracurricular page. The image here should be modified from the admin index page
                </h3><br>
            <form method='post' action='{% url "adminleadership" %}' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form2.as_p }}
                <button>Submit</button>
        </form>
    </div>
        <hr>
        <h3>Preview the header and body of the second section of extracurricular page. Image is from admin index</h3>
        <hr>
        {% if pos2 %}
            <img src='{{ pos.img1L.extraLeader1.url }}' alt='Welcome'>
            <h2>{{ pos2.writeHead2 }}</h2>
            <div>
                {{ pos2.write2 | linebreaks }}
            </div>
        {% endif %}
        <hr>
        <hr class='newline'>

        <div id='div'>
            <h3>This form controls the email address of people to be contacted relating to extra curricular activities</h3>
            <h3>Email1 and Email2 are the emails, while Contact1 and Contact2 are the names people will
                see that will link to these emails
            </h3>
        <form method='post' action='{% url "adminleadership" %}' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form3.as_p }}
            <button>Submit</button>
        </form>
        </div>
        <hr>
        <h3>Preview Emails and display names of emails </h3>
        <hr>
        {% if pos3 %}
            <div>
                <p><a href="mailto:{{ pos3.email1 }}">{{ pos3.contact1 }}</a></p>
                <p><a href="mailto:{{ pos3.email2 }}">{{ pos3.contact2 }}</a></p>

            </div>
        {% endif %}
        <hr>
        <div id='div'>
            <h3>This form controls the additional resources of people to relating to extra curricular activities e.g time table detailing places to visit over the academic session</h3>
            <h3>File1 and file2 are the resources, while displayName1 and displayName2 are the names people will
                see that will link to these resources
            </h3>
            <br>
            <form method='post' action='{% url "adminleadership" %}' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form4.as_p }}
                <button>Submit</button>
            </form>
        </div>

        <hr>
        <h3>Preview Resources and display names of the resources</h3>

        {% if pos4 %}
            <h3>Additional Resources</h3>
            <div>
                <p><a href="{{ pos4.file1.url }}">{{ pos4.displayName1 }}</a></p>
                <p><a href="{{ pos4.file2.url }}">{{ pos4.displayName2 }}</a></p>

            </div>
        {% endif %}

    </body>
</html>